// define square properties.
$squareEvenColour: rgba(241, 199, 144, 0.822);
$squareOddColour: rgba(97, 52, 0, 0.801);
$squareMinSize: 75px;

.square {
    // define the width and height properties.
    min-height: $squareMinSize;
    min-width: $squareMinSize;

    // remove the styling from the square.
    border: 1px solid black;
    padding: 0;
    cursor: pointer;
}

.white-pawn {
    background: url('/images/pawn.png') no-repeat center center;
    background-size: cover;
}

.odd-row {
    .square:nth-of-type(even) {
        background-color: $squareEvenColour;
    }
    .square:nth-of-type(odd) {
        background-color: $squareOddColour;
    }
}

.even-row {
    .square:nth-of-type(even) {
        background-color: $squareOddColour;
    }
    .square:nth-of-type(odd) {
        background-color: $squareEvenColour;
    }
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.board {
    min-width: $squareMinSize * 8;
    max-height: $squareMinSize * 8;
    border: 1px solid black;
}
