// define square properties.
$squareEvenColour: rgba(241, 199, 144, 0.822);
$squareOddColour: rgba(97, 52, 0, 0.801);
$squareMinSize: 75px;

.square {
    // define the width and height properties.
    min-height: $squareMinSize;
    min-width: $squareMinSize;

    // remove the styling from the square.
    border: 1px solid black;
    padding: 0;
    cursor: pointer;
}

.white-pawn {
    background: url('/images/Chess_plt60.png') no-repeat center center;
    background-size: cover;
}

.black-pawn {
    background: url('/images/Chess_pdt60.png') no-repeat center center;
    background-size: cover;
}

.white-queen {
    background: url('/images/Chess_qlt60.png') no-repeat center center;
    background-size: cover;
}

.black-queen {
    background: url('/images/Chess_qdt60.png') no-repeat center center;
    background-size: cover;
}

.white-king {
    background: url('/images/Chess_klt60.png') no-repeat center center;
    background-size: cover;
}

.black-king {
    background: url('/images/Chess_kdt60.png') no-repeat center center;
    background-size: cover;
}

.white-rook {
    background: url('/images/Chess_rlt60.png') no-repeat center center;
    background-size: cover;
}

.black-rook {
    background: url('/images/Chess_rdt60.png') no-repeat center center;
    background-size: cover;
}

.white-bishop {
    background: url('/images/Chess_blt60.png') no-repeat center center;
    background-size: cover;
}

.black-bishop {
    background: url('/images/Chess_bdt60.png') no-repeat center center;
    background-size: cover;
}

.white-knight {
    background: url('/images/Chess_nlt60.png') no-repeat center center;
    background-size: cover;
}

.black-knight {
    background: url('/images/Chess_ndt60.png') no-repeat center center;
    background-size: cover;
}

.odd-row {
    .square:nth-of-type(even) {
        background-color: $squareEvenColour;
    }
    .square:nth-of-type(odd) {
        background-color: $squareOddColour;
    }
}

.even-row {
    .square:nth-of-type(even) {
        background-color: $squareOddColour;
    }
    .square:nth-of-type(odd) {
        background-color: $squareEvenColour;
    }
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.board {
    min-width: $squareMinSize * 8;
    max-height: $squareMinSize * 8;
    border: 1px solid black;
}
